<footer class="footer">
    <div class="footer__copyright" data-year="{{global.year}}">
        <span data-actual-year></span>
    </div>

    <div class="footer__developer">&copy;&nbsp;{{ data[lang].footer.copyright }}</div>
</footer>
